// Colors

// Yellow tones
$tertiary-light: #ede8d080;
$tertiary-medium: #ede8d0;
$tertiary-dark: #aa5535;

// Green tones
$primary-light: #ecf7f7;
$primary-medium: #659598;
$primary-dark: #19505b;
$primary-accent: #46737c;
$primary-border: #a1b8bd;

$secondary-light: #d0e8e6;
$secondary-dark: #25424e;

$footer-color: #1a1f20;
$dark-text: #202020;
$light: #b0d9d566;

// Debugging mode
$debugging: false;

// Debugging mode

$debugging: false;

div {
  @if ($debugging) {
    border: 1px solid hotpink;
  }
}
