// Colors

// Quaternary colors (orange tones)
$quaternary-light: #f5be99;
$quaternary-medium: #e58748;
$quaternary-dark: #c5672d;

// Yellow tones
$tertiary-light: #fcd961;
$tertiary-medium: #f9b732;
$tertiary-dark: #f4c31f;

// Green tones
$primary-light: #d6e9d8;
$primary-medium: #045346;
$primary-dark: #033a35;

// Neutral tones
$beige: #f8f4ed;
$footer-color: #1a1f20;
$dark-text: #232426;

// Debugging mode
$debugging: false;

// Debugging mode

$debugging: false;

div {
  @if ($debugging) {
    border: 1px solid hotpink;
  }
}
