@use '../../variables/variables' as *;

.primary-button {
  color: $primary-dark;
  background-color: $tertiary-light;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 12px;
  display: inline-block;
  &:hover {
    background-color: $tertiary-dark;
  }
  width: fit-content;
  min-width: 100px;
}

.secondary-button {
  color: $primary-medium;
  padding: 12px 24px;
  border-radius: 12px;
  display: inline-block;
  border: 1px solid $primary-medium;
  &:hover {
    border: 1px solid $primary-dark;
  }
  width: fit-content;
  min-width: 100px;
}

.tertiary-button {
  padding: 12px 24px;
  border-radius: 12px;
  background-color: $primary-dark;
  color: $tertiary-light;
  display: inline-block;
  &:hover {
    background-color: $primary-light;
  }
  width: fit-content;
  min-width: 100px;
}

.quartiary-button {
  padding: 12px 24px;
  border-radius: 8px;
  transition: all 0.3s;
  display: inline-block;
  width: fit-content;
  min-width: 100px;
  background-color: $primary-light;
  color: $primary-dark;

  &:hover {
    background-color: $primary-medium;
    color: white;
  }

  &.active {
    background-color: $primary-medium;
    color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  }
}
