.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.chat-container {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  height: -webkit-fill-available;
}
